vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_defaultlanguage:SR|de
vti_webservertype:SR|msiis
vti_usagebymonth:UX|12
vti_usagevisitsbyweek:UX|0
vti_approvalapproved:SR|Genehmigt
vti_approvaldenied:SR|Abgelehnt
vti_timecreated:TR|26 Oct 2002 07:17:20 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagevisitsbymonth:UX|0
vti_usagelastupdated:TX|26 Oct 2002 21:59:59 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.2623
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_usagevisitsbyday:UX|0
vti_approvallevels:VR|Genehmigt Abgelehnt Prüfung\\ läuft
vti_dependenciesood:IR|0
vti_usagefirstdata:TX|23 Sep 2002 22:00:00 -0000
vti_usagebyweek:UX|12
vti_usagebyday:UX|12
vti_usagehitsbymonth:UX|12
vti_usagehitsbyweek:UX|12
vti_usagehitsbyday:UX|12
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerEmailTransport
vti_categories:VR|Reisen Kostenabrechnung Geschäftlich Wettbewerb Ziele Ideen Verschiedenes Inaktiv VIP In\\ Bearbeitung Planung Zeitplan
